<?xml version="1.0"?>
<config>
    <modules>
        <Shopa_ShareAndEarn>
            <version>1.0.0.0.1</version>
        </Shopa_ShareAndEarn>
    </modules>
    <global>
        <blocks>
            <shopa_shareandearn>
                <class>Shopa_ShareAndEarn_Block</class>
            </shopa_shareandearn>
        </blocks>
        <helpers>
            <shopa_shareandearn>
                <class>Shopa_ShareAndEarn_Helper</class>
            </shopa_shareandearn>
        </helpers>
        <models>
            <shopa_shareandearn>
                <class>Shopa_ShareAndEarn_Model</class>
            </shopa_shareandearn>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <shopa_shareandearn>
                    <file>shopa_shareandearn.xml</file>
                </shopa_shareandearn>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shopa_shareandearn_options>
                                            <title>Shopa Share and Earn Section</title>
                                        </shopa_shareandearn_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <shopa_shareandearn_options>
            <commission>
                <percentage>10</percentage>
                <show_button>1</show_button>
            </commission>
            <security>
                <api_secret>get your API secret from http://www.shopa.com/account/retailer</api_secret>
                <api_key>get your API key from http://www.shopa.com/account/retailer</api_key>
            </security>
            <advanced>
                <shopa_base_url>//cdn.shopa.com/</shopa_base_url>
            </advanced>
        </shopa_shareandearn_options>
    </default>
</config>
